h1 {
  color: black;
  font-size: 20;
}

#banner{
	background-image: url("http://www.stripes.com/polopoly_fs/1.462060.1491403127!/image/image.jpg_gen/derivatives/landscape_900/image.jpg");
}

.title{
	font-style: italic;
	font-size: 26;
	font-style: bold;
	font-family: Arial;
}
