h1 {
  font-style: italic;
  font-size: 70;
  font-style: bold;
  background-color: white;
  text-align: center;
}

h2{
	font-size: 20;
	text-align: center;
}

p{
	text-align: center;
}

blockquote{
	text-align: center;
	color: gray;
	text-align: center;
}
